<section class="dashboard-show">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>
            <p><%= link_to 'Products', 'admin/products' %></p>
          </td>
          <td>
            <p><%= @products %></p>
          </td>
        </tr> 
        <tr>
          <td>
            <p>Categories</p>
          </td>
          <td>
            <p><%= @categories %></p>
          </td>
        </tr>        
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= form_tag orders_path do %>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount="<%= cart_subtotal_cents %>"
          data-name="Jungle"
          data-description="Khurram Virani's Jungle Order"
          data-locale="auto"
          data-email="kvirani@gmail.com"
          data-currency="cad">
        </script>
      <% end %>
    </div>
  </div>

</section>
